[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
werkzeug = "*"
sanic = "*"
pytelegrambotapi = "*"
aiogram = "*"
tortoise-orm = {extras = ["asyncpg"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
